@font-face {
    font-family: avenirRegular;
    src: url("../../fonts/Avenir\ Regular.ttf");
}

.parrafo{
    text-align: left;
    font-family: avenirRegular;
    line-height: 1.8;
    font-size: 15px;
    color: #727272;
    border: #0281ba solid;
}
.titulo{
    font-family: avenirRegular;
    color: #0281ba;
    padding-left: 1%;
    margin-top: 15vh;
}
.contenedorNosotros{
    display: flex;
    width: 98%;
    align-items: center;
    justify-content: center;
    border: #fc96ff solid;
}
.body{
    padding-top: 8vh;
    padding-bottom: 25vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    border: #727272 solid;
}