@font-face {
    font-family: avenirRegular;
    src: url("../../fonts/Avenir\ Regular.ttf");
}

.parrafo{
    text-align: left;
    width: 80%;
    margin-left: 10%;    
    font-family: avenirRegular;
    line-height: 1.8;
    font-size: 16px;
    color: #727272;
}
.titulo{
    font-family: avenirRegular;
    color: #0281ba;
    margin-left: 10%;
    margin-top: 15vh;
}
.contenedorNosotros{
    display: flex;
    width: auto;
    align-items: center;
}
.body{
    padding-top: 3%;
    padding-bottom: 5%;
}
.espacioimg{
    margin-right: 5%;
}
.sobreNosotrosimg{
    width: 400px;
    height: 500px;
    object-fit: cover;
    object-position: center;
    filter: drop-shadow(5px 5px 10px rgb(207, 207, 207));
}