/*body {
  margin: 0;
  padding: 0;
 
}*/

.banner-container {
  width: 100vw; /* Establece el ancho del contenedor al 100% del ancho de la ventana */

  height: 70vh; /* Establece la altura del contenedor al 70% de la altura de la ventana */

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  padding-top: 25vh; /* Esto ajusta la posición vertical del video */

}

.banner-style {
  position: relative;
}

.banner-video {
  width: 100vw; /* Establece el ancho del video al 100% del ancho de la ventana */
  height: 70vh; /* Establece la altura del video al 70% de la altura de la ventana */
  object-fit: cover;
}
.scrollable-content {
  overflow: auto; /* Habilitar el scroll en este contenedor */
}