/* Estilo base para el contenedor principal */
.bloques {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* CSS en bloques.css */
.centered-img {
  display: block;
  margin: 0 auto; /* Centra horizontalmente la imagen */
}

/* Estilo para la fila personalizada */
.custom-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Estilo para las columnas personalizadas */
.custom-col {
  flex: 1;
  padding: 3vw;
  max-width: calc(50% - 20px);
  box-sizing: border-box;
}

/* Estilo para las tarjetas personalizadas */
.custom-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para las imágenes en las tarjetas */
.custom-card-img-top {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  margin: 0 auto; /* Centrar horizontalmente */
}

/* Estilo para el título en las tarjetas */
.custom-card-title {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

/* Estilo para el cuerpo en las tarjetas */
.custom-card-body {
  padding: 10px;
}

/* Estilo para pantallas más pequeñas (ejemplo: celulares) */
@media (max-width: 768px) {
  .custom-col {
    flex: 1;
    padding: 5%;
    max-width: 100%;
  }
  
  .custom-card-img-top {
    max-height: 150px;
  }
  
  .custom-card-title {
    font-size: 16px;
    padding: 5px;
  }
}

/* Estilo para pantallas medianas (ejemplo: pantallas comunes) */
@media (min-width: 769px) and (max-width: 1200px) {
  .custom-col {
    flex: 1;
    padding: 2%;
    max-width: calc(33.33% - 20px);
  }
}

/* Estilo para pantallas grandes (ejemplo: pantallas de escritorio) */
@media (min-width: 1201px) {
  .custom-col {
    flex: 1;
    padding: 1%;
    max-width: calc(25% - 20px);
  }
}