.bloques,
.bloques-cerrado{
  width: 98%;
  margin:auto;
  padding-top: 1vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

.bloques-cerrado{
  background-color: #ffffff;
  border-radius: 5px;
  
}

.icon-button{
  background-color: #FFFFFF;
  border-radius: 50px;
  padding: 0.5vw;
  content: icon;
}

.button{
  width: 70%;
}