.componentes-index{
  display: flex;
  align-self: center;
  max-width: 1500px;
  max-height: 500px;
 
  border: solid rgb(29, 144, 46) 1px;
  gap: 50px;
 
} 

.container {
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 100vh;
   
  }
  
