.componentes-index{
  display: flex;
  align-self: center;
  max-width: 50%;
  max-height: 1000px;
  border: solid rgb(50, 170, 68) 1px;
  gap: 20px
  ;
  flex-wrap: wrap;
  justify-content: center;
} 

.container {
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 100vh;
   
  }
  
