.contenedor-credito {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20vh auto;
    width: 80%;
    height: 80vh;
    flex-direction: column;
    background-image: url(../../images/creditoimg.webp);
    background-size: cover;
    padding: 6rem;
  }

  h1{
    color: gray;
    
  }
  
  .ingreso-credito {
    display: flex;
    width: 40%;
    height: 200vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(191, 204, 204, 0.8);
    border-radius:  20px;
  }
  
  .ingreso-credito input,
  .ingreso-credito button {
    margin: 40px;
  }
  .boton-credito{
   background-color:rgb(133, 139, 139);
   border-radius: 25px;
   width: 30%;
   height: 20%;
  }

  .boton-credito:hover {
    transform: scale(1.1);
  
  }
  .resultado-credito{
    background-color:rgba(191, 204, 204, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 40%;
    height: 60%;
    border-radius: 15px;

  }
  