/* Estilos para .nav-footer */
.nav-footer {
  width: 60vw;
  height: 5vh;
  margin: 5px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgb(49, 46, 46);
  list-style-type: none;
}

/* Estilos para .item-footer */
.item-footer a {
  margin: 0 10px;
  color: #f5f1f1;
}

/* Estilos para quitar la decoración de enlace */
.nav-footer .item-footer a {
  text-decoration: none;/* Quitar subrayado de los enlaces */

  color: #fff;/* Color de texto para los enlaces */
  font-size: 18px;/* Tamaño de fuente deseado */
  transition: color 0.3s;
}

.nav-footer .item-footer a:hover {
      color: #ffd201;
      /* Color de texto al pasar el mouse por encima */
}

/* Estilos para pantallas más pequeñas (ejemplo: celulares) */
@media (max-width: 768px) {
  .nav-footer {
    width: 90vw; /* Cambia el ancho al 90% del ancho de la ventana */
    flex-direction: column; /* Cambia la dirección de la fila a columna */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
  }

  .item-footer {
    margin: 10px 0; /* Añade espacio vertical entre elementos */
  }
}

/* Puedes agregar más estilos responsivos para pantallas medianas y grandes si es necesario */
@media (min-width: 769px) and (max-width: 1200px) {
  /* Estilos para pantallas medianas */
}

@media (min-width: 1201px) {
  /* Estilos para pantallas grandes */
}