
.contenedor-contacto {
    width: 50%;
    height: auto;
    padding: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
  }

.contenedor-input-contacto {
    background:#d9e2e6;
     padding: 2px;
     width: 80%;
     height: 80%;
     display: flex;
     margin-top: 30px;
     align-items: center;
     flex-direction: column;
  }

.input-consulta {
 
  width: 120%;
  height: 120%;
}

.boton-submit {
  
  width: 25%;
  height: 8%;
  border-radius: 35px;
  margin-top: 20px;

}
  