@font-face {
  font-family: avenirRegular;
  src: url("../../fonts/Avenir\ Regular.ttf");
}

.searchContainer {
    width: 30%;
    height: auto;
    background-color: #0281ba;
    padding-top: 2vh;
    margin-top:3vh;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 10px rgb(116, 116, 116));
    background-image: url(../../images/01.webp);
}
.searchContainer h1 {
    text-align: center;
    margin-top: 10%;
    color: #ffffff;
    font-family: avenirRegular;
    font-size: 25px;
}


.form-row {
    display: flex;
    width: 90%;
    justify-content: center;
    align-content: center;
    margin: 2vh;
    padding-top:4vh;
    
   
  }


  .form-field {
    flex: 0.5; /* El campo se expandirá para ocupar todo el espacio disponible */
    border-radius: 20px;
  }

  .logo-buscador {
    width: 50%;
    height:auto ;
    color:white;
    margin: auto;
  }

  .button-info {
    background-color: #041f2a;
    width: 30%;
    color: white;
    height:auto;
    border-radius: 20px;
  }

  .button-info:hover  {
    transform: scale(1.2);

  }
  