/* Estilos para el contenedor del formulario de venta de vehículo */
.container-form-venta {
    display: flex;
    flex-direction: column;
    width: 80%; /* Ajusta el ancho según tus preferencias */
    height: 60%;
    align-items: center;
    justify-content: center;
    margin: 20vh;
    border-radius: 10px;
  }
  
  /* Estilos para el formulario de venta de vehículo */
  .form-venta {
    width: 80%; 
    max-width: 400px; 
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    padding: 20px; /* Agregado para dar espacio al contenido del formulario */
    background-color: rgba(191, 204, 204, 0.8); /* Ajusta el color de fondo */
  }
  
  /* Estilos para los contenedores de input en el formulario de venta de vehículo */
  .form-venta  {
    width: 100%; /* Cambiado para llenar el ancho del contenedor del formulario */
    margin: 10px;
    text-align: center; /* Agregado para centrar el contenido del input */
  }
  
  .form-venta  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-venta  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
  }
  
  /* Estilos para el botón en el formulario de venta de vehículo */
  .form-venta .boton-registro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .form-venta .boton-registro {
    width: 90px;
    height: 40px;
    border-radius: 25px;
    background: rgb(133, 139, 139);
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer; /* Agregado para indicar que es un botón interactivo */
  }
  
  .form-venta .boton-.boton-registro {
    transform: scale(1.1);
  }
  
  /* Media queries para tamaños de pantalla más pequeños */
  @media screen and (max-width: 768px) {
    .form-venta {
      height: auto; /* Cambia a altura automática en pantallas más pequeñas */
    }
  }
  